<!-- <mat-toolbar color="primary">
    Sign up Flow with firebase
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
login
    </button>
  </mat-toolbar>
<div class="contentdiv">
  <router-outlet></router-outlet>
</div> -->

<!-- 
  <header class="header" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="logo">Welcome to My Page</div>
    <div class="mode-toggle" (click)="toggleDarkMode()">
      <i class="material-icons" [innerHTML]="isDarkMode ? 'nights_stay' : 'wb_sunny'"></i>
    </div>
    <div class="login-logout">
      <i class="material-icons" [innerHTML]="isLoggedIn ? 'logout' : 'login'"></i>
    </div>
  </header>
  
  <div class="main-container" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="left-container">
      <nav class="nav-bar">
        <button routerLink="/upload-image">Upload an Image</button>
        <button routerLink="crop&resize">Crop & Resize</button>
        <button (click)="applyFilter()">Filter</button>
        <button (click)="update()">Update</button>
      </nav>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
     
    </div>
  </div>
  
  <footer class="footer" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div>@ 2023 My Page. All rights reserved.</div>
  </footer>

 -->
<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-landing></app-landing> -->
<!-- <app-image></app-image> -->
<h1>Image Editor App</h1>
<app-image-editor></app-image-editor>
<!-- <app-canvas></app-canvas> -->