<!-- <mat-toolbar color="primary">
    <div class="left-buttons">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="right-buttons">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar> -->



  <header class="header" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="logo">Welcome to My Page</div>
    <div class="mode-toggle" (click)="toggleDarkMode()">
      <i class="material-icons" [innerHTML]="isDarkMode ? 'nights_stay' : 'wb_sunny'"></i>
    </div>
    <div class="login-logout">
      <i class="material-icons" [innerHTML]="isLoggedIn ? 'logout' : 'login'"></i>
    </div>
  </header>
  
  <div class="main-container" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="left-container">
      <nav class="nav-bar">
        <button routerLink="/upload-image">Upload an Image</button>
        <button (click)="cropResize()">Crop & Resize</button>
        <button (click)="applyFilter()">Filter</button>
        <button (click)="update()">Update</button>
      </nav>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
     
    </div>
  </div>
  
  <footer class="footer" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div>@ 2023 My Page. All rights reserved.</div>
  </footer>
 

