
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #29323c;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-container form {
  width: 100%;
}

.form-container label {
  font-size: 16px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #485563;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-container button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

.table-container {
  background-color: #29323c;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.user-table {
  width: 100%;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: center;
}

.user-table th {
  background-color: #485563;
  color: white;
}

.user-table input[type="text"],
.user-table input[type="email"],
.user-table input[type="tel"] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #485563;
  color: white;
  font-size: 16px;
}

.user-table .edit-btn,
.user-table .delete-btn {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.user-table .edit-btn:hover,
.user-table .delete-btn:hover {
  text-decoration: underline;
}


.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: crimson;
}