/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-image-editor/styles/material.css";
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html,
body {
  height: 100%;
  
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
/* background-color: gray; */
}

.form-container {
  display: block;
  max-width: 300px;
  margin: auto;
  background: #eceff1;
  padding: 0;
  border-radius: 16px;
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
